<nav>
  <button mat-button routerLink="characters">&lt;</button>
  <button mat-button routerLink="overview">Overview</button>
  <button mat-button routerLink="attributes">Attributes</button>
  <button mat-button routerLink="advantages-disadvantages">
    Advantages and Disadvantages
  </button>
  <button mat-button routerLink="abilities">Abilities</button>
  <button mat-button routerLink="skills">Skills</button>
  <button mat-button routerLink="combat-techniques">Combat Techniqnues</button>
  <button mat-button routerLink="spells">Spells</button>
  <button mat-button routerLink="equipment">Equipment</button>
</nav>
<router-outlet></router-outlet>
